# Sanity Project — get these from https://sanity.io/manage
# PUBLIC_ prefix makes them available in the browser bundle
PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=

PUBLIC_SANITY_STUDIO_URL=http://localhost:3333
PUBLIC_WEBSITE_URL=http://localhost:4321

SECRET_SANITY_READ_TOKEN=

PUBLIC_MAIL_API_KEY=
PUBLIC_MAIL_API_URL=
